body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .container{
  text-align: center;
  padding-top: 10rem;
  
} */

.container input{
  padding: 8px 25px 8px 25px;
  border-radius: 18px;
  border: solid black ;
}

button{
   background-color: seagreen;
   color:whitesmoke;
   padding: 10px 15px 10px 15px;
   border-radius: 18px;
   border: none;
   margin-left: 20px;
   cursor: pointer;
   

}